<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://www.institutioner.dk/img/img_container.png"
      alt="imagem placeholder"
      height="265px"
      width="auto"
      srcset=""
    >

  </div>

  <div class="big-card__public-date">
    <h6>Publicado em <span>01/01/2001</span></h6>

  </div>

  <div class="big-card__title">
    <h1>
      <a href="#">Noticia Nova</a>
    </h1>

  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat quasi laboriosam pariatur voluptatem esse eum impedit dolorum nisi, error ipsum libero qui assumenda consequatur cupiditate mollitia distinctio quaerat. Dignissimos, laboriosam.

      </a>

    </p>

  </div>
</div>
