.container__banner--title > h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 8rem;

  display: flex;
  justify-content: center;
}

.container__banner--title > hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
