.container__banner--title > h1 {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  font-size: 5rem;

  display: flex;
  justify-content: center;
  
  padding-bottom: 2rem;
  border-bottom: .1rem solid #eee;
}

.container__banner--title > hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
