<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://www.institutioner.dk/img/img_container.png"
        alt="imagem placeholder"
        height="265px"
        width="auto"
        srcset=""
      >
    </div>

    <div class="small-card__text">
      <div class="small-card__title">
        <h6>
          <a href="#">Noticia Nova</a>
        </h6>
      </div>

      <div class="small-card__description">
        <p>
          <a href="#">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat quasi laboriosam pariatur voluptatem esse eum impedit dolorum nisi, error ipsum libero qui assumenda consequatur cupiditate mollitia distinctio quaerat. Dignissimos, laboriosam.
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr/>
  </div>
</div>

