<div class="container__menu-bar">
  <ul>
    <li>
      <a
        href="http://linkedin.com/in/tiagosfneves"
        target="_blank"
        rel="noopener noreferrer"
      >
      Linkedin
      </a>
    </li>
    <li><span>•</span></li>
    <li>
      <a
        href="http://github.com/tiagosfneves"
        target="_blank"
        rel="noopener noreferrer"
      >
      GitHub
      </a>
    </li>
    <li><span>•</span></li>
    <li>
      <a
        href="http://figma.com/@tiagosfneves"
        target="_blank"
        rel="noopener noreferrer"
      >
      Figma
      </a>
    </li>
  </ul>
</div>
